go-musicfox/Library/Application Support/go-musicfox/*
!go-musicfox/Library/Application Support/go-musicfox/go-musicfox.ini
Rime/Library/Rime/build
Rime/Library/Rime/rime_ice.userdb
tmux/.config/tmux/plugins
